<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>customerController</servlet-name>
        <servlet-class>controller.customerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.auth.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCustomerController</servlet-name>
        <servlet-class>controller.UpdateCustomerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCustomerController</servlet-name>
        <servlet-class>controller.DeleteCustomerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertCustomerController</servlet-name>
        <servlet-class>controller.InsertCustomerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SupplierListController</servlet-name>
        <servlet-class>controller.SupplierListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BillController</servlet-name>
        <servlet-class>controller.BillController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertBillController</servlet-name>
        <servlet-class>controller.InsertBillController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertDetailController</servlet-name>
        <servlet-class>controller.InsertDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowDetailController</servlet-name>
        <servlet-class>controller.ShowDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertSupplierController</servlet-name>
        <servlet-class>controller.InsertSupplierController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>customerController</servlet-name>
        <url-pattern>/customer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCustomerController</servlet-name>
        <url-pattern>/updateCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCustomerController</servlet-name>
        <url-pattern>/deleteCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertCustomerController</servlet-name>
        <url-pattern>/insertCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SupplierListController</servlet-name>
        <url-pattern>/SupplierList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BillController</servlet-name>
        <url-pattern>/Bill</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertBillController</servlet-name>
        <url-pattern>/InsertBill</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertDetailController</servlet-name>
        <url-pattern>/InsertDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowDetailController</servlet-name>
        <url-pattern>/ShowDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertSupplierController</servlet-name>
        <url-pattern>/InsertSupplier</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
